<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css">
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .buttons {
        display: flex;
        justify-content: center;
        margin: 15px;
        padding: 15px;
    }

    .trailer {

        display: flex;
        align-items: center;
        justify-content: center;

    }
</style>


<!-- Importing Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="content">

    <h1>{{ form.title }}</h1>

    <div>
        <p>
            {{ form.plotSummary }}
        </p>
        <h3>Directors</h3>
        <p>{{ form.directors }}</p>
        <h3>Actors</h3>
        <p>{{ form.actors }}</p>
    </div>
</div>
<table class="table table-striped table-hover text-align:center" align="center">
    <tbody>
    <thead class="thead-dark">
    <b>Recommender algorithms:</b>
    </thead>
    <tr>
        <td colspan="6">
            <b>Base algorithms</b>
        </td>
    </tr>
    <tr>
        <td>
            <form method="post" action="showRecommendationTags">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>tags</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showRecommendationTagsPattern">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>tags-pattern</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showRecommendationActors">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>actors</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showRecommendationRatings">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>user ratings
                </button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showRecommendationSummary">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>tfidf - summary</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showRecommendationGenrePopularity">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>Genre & Popularity</button>
                {% csrf_token %}
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <b>Combination algorithms</b>
        </td>
    </tr>
    <tr>
        <td>
            <form method="post" action="showComboRecommendationSimpleMetaMulti">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>Simple Meta (multiplicative)</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showComboRecommendationSimpleMeta">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>Simple Meta</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showComboRecommendationAllUnweighted">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>All algorithms</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showComboRecommendationWeighted">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>Custom weights (simple meta weighted
                    more)
                </button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showComboRecommendationCustom">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>Custom algorithms (rating + keywords
                    weighted higher)
                </button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form method="post" action="showComboRecommendationAllCustom">
                <button class="btn btn-info" name="id" value={{ form.movieId }}>Custom weights</button>
                {% csrf_token %}
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="content"><h3>Trailer</h3></div>

<div class="trailer">

    <iframe src="https://www.youtube.com/embed/{{ form.youtubeTrailerIds }}?autoplay=0&mute=1" height="505px"
            width=" 853px"></iframe>
</div>
<br>
<div class="buttons">
    <button class="btn btn-light" onClick="javascript:history.go(-1);">Go Back</button>
    <button class="btn btn-light" onclick="location.href = '/'">Search for a new Movie</button>
</div>

</body>
</html>