/assignment1/.idea/
/assignment2/.idea/
/moviedata/
/assignment3/.idea/
/assignment3/MovieLens_1M_CSV/
/assignment4/MovieLens_1M/
/assignment5/MovieLens_1M/
/Assignment6/venv/
/project_recommender2021/recommendation/meta_data/
/project_recommender2021/recommendation/ml-25m/
/project_recommender2021/recommendation/MovieLens_1M/
